<?xml version="1.0" encoding="UTF-8"?>
<!-- OFF>FATAL>ERROR>WARN>INFO>DEBUG>TRACE>ALL -->
<configuration monitorIterval="60" status="INFO">
	<Properties>
		<Property name="LOG_HOME">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d] [%t] [%-5level] - %msg%n" />
		</Console>

		<RollingFile name="rootFile" fileName="${LOG_HOME}/app.log"
			filePattern="${LOG_HOME}/app_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%t] [%-5level] [%c]- %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${LOG_HOME}/">
					<IfFileName glob="app_*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="child" fileName="${LOG_HOME}/child/child.log"
			filePattern="${LOG_HOME}/child/child_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%t] [%-5level] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${LOG_HOME}/child/">
					<IfFileName glob="child_*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="master" fileName="${LOG_HOME}/master/master.log"
			filePattern="${LOG_HOME}/master/master_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%t] [%-5level] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${LOG_HOME}/master/">
					<IfFileName glob="master_*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>


		<RollingFile name="monitor" fileName="${LOG_HOME}/monitor/monitor.log"
			filePattern="${LOG_HOME}/monitor/monitor_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%t] [%-5level] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${LOG_HOME}/monitor/">
					<IfFileName glob="monitor_*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
<!-- 		<RollingFile name="job" fileName="${LOG_HOME}/job/job.log" -->
<!-- 			filePattern="${LOG_HOME}/job/job_%d{yyyy-MM-dd}_%i.log"> -->
<!-- 			<ThresholdFilter level="INFO" onMatch="ACCEPT" -->
<!-- 				onMismatch="DENY" /> -->
<!-- 			<PatternLayout pattern="[%d] [%t] [%-5level] - %msg%n" /> -->
<!-- 			<Policies> -->
<!-- 				<TimeBasedTriggeringPolicy interval="1" -->
<!-- 					modulate="true" /> -->
<!-- 				<SizeBasedTriggeringPolicy size="100 MB" /> -->
<!-- 			</Policies> -->
<!-- 			<DefaultRolloverStrategy max="10"> -->
<!-- 				<Delete basePath="${LOG_HOME}/job/"> -->
<!-- 					<IfFileName glob="job_*.log" /> -->
<!-- 					<IfLastModified age="30d" /> -->
<!-- 				</Delete> -->
<!-- 			</DefaultRolloverStrategy> -->
<!-- 		</RollingFile> -->




		<RollingFile name="error" fileName="${LOG_HOME}/error/error.log"
			filePattern="${LOG_HOME}/error/error_%d{yyyy-MM-dd}_%i.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="[%d] [%t] [%-5level] [%c] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10">
				<Delete basePath="${LOG_HOME}/error/">
					<IfFileName glob="error_*.log" />
					<IfLastModified age="30d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>


	</Appenders>
	<loggers>

		<logger name="childLog" level="info" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="child" />
		</logger>
<!-- 		<logger name="jobLog" level="info" additivity="false"> -->
<!-- 			<AppenderRef ref="console" /> -->
<!-- 			<AppenderRef ref="job" /> -->
<!-- 		</logger> -->

		<logger name="masterLog" level="info" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="master" />
		</logger>


		<logger name="backGroundLog" level="info" additivity="false">
			<AppenderRef ref="console" />
			<AppenderRef ref="monitor" />
		</logger>


		<Root level="INFO">
			<AppenderRef ref="console" />
			<AppenderRef ref="rootFile" />
			<AppenderRef ref="error" />
		</Root>
	</loggers>

</configuration>



