<?xml version="1.0" encoding="UTF-8"?>


<!-- Logback configuration. See http://logback.qos.ch/manual/index.html -->

<configuration scan="true" scanPeriod="120 seconds"> <!--debug="true" -->
	<property name="logs.root" value="logs" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} [%level] %logger{96}:[%line] - %message%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="APPLOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="cn.spdb.harrier.common.log.ApplicationLogFilter" />
		<file>${logs.root}/app.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logs.root}/app.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<maxFileSize>100MB</maxFileSize>
			<!-- <totalSizeCap>30GB</totalSizeCap> -->
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} [%level] %logger{96}:[%line] - %message%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="ALARMLOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logs.root}/alarm/harrier-alarm.log</file>
		<filter class="cn.spdb.harrier.common.log.AlarmLogFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logs.root}/alarm/harrier-alarm.%d{yyyy-MM-dd_HH}.%i.log
			</fileNamePattern>
			<maxHistory>168</maxHistory>
			<maxFileSize>200MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>
				%date{yyyy-MM-dd HH:mm:ss.SSS} [%level] %logger{96}:[%line] - %message%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	


	<root level="INFO">
		<appender-ref ref="ALARMLOGFILE"/>
		<appender-ref ref="APPLOGFILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
